beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.11.8
freetype-py==2.2.0
GDAL==3.3.1
hsluv==5.0.2
kiwisolver==1.3.2
numpy==1.21.2
protobuf==3.17.3
pyproj==3.0.0.post1
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyQt6==6.1.1
PyQt6-3D==6.1.1
PyQt6-Charts==6.1.1
PyQt6-DataVisualization==6.1.1
PyQt6-NetworkAuth==6.1.1
PyQt6-sip==13.1.0
PyYAML==5.3.1
sip==6.1.1
soupsieve==2.0.1
vispy==0.8.1
